.container{
    display:flex;
}

.label{
    flex:1;
    vertical-align: middle;
    text-align: center;
}

.x{
    flex:3;
    text-align: center;
    background-color: rgba(235, 113, 101, 0.73);
    margin: 10px;
}

.y{
    flex:3;
    text-align: center;
    background-color: rgba(70, 163, 71, 0.64);
    margin-top: 10px;
    margin-bottom:10px;
}

.z{
    flex:3;
    text-align: center;
    background-color:rgba(70, 140, 215, 0.74) ;
    margin:10px;
}

.a{
    flex:3;
    text-align: center;
    background-color: rgba(196, 58, 152, 0.73);
    margin: 10px;
}

.b{
    flex:3;
    text-align: center;
    background-color: rgba(192, 209, 106, 0.64);
    margin-top: 10px;
    margin-bottom:10px;
}

h2{
    text-align: center;
}
